
ul {
    list-style-type: none;
}

ul li {
    float: left;
    background: #4183D7;
    padding: 5px 20px;
    border-right: 1px solid #FFF;
    min-width: 70px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888;
}

ul li:hover {
    background: #3498DB;
}

ul li a {
    text-decoration: none;
    color: #FFF;
}

ul li ul {
    margin: 0px;
    padding: 0px;
    position: absolute;
    margin-top: 5px;
    margin-left: -20px;
    display: none;
}

ul li ul li {
    float: none;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
}

ul li:hover ul {
    display: block;
}